<div>
    <p class="description">
        Please input paths or URLs to two GitHub repositories you want to compare.
    </p>
    <p class="description info">
        Correct format is <span>owner/repo_name</span> or <span>https://github.com/owner/repo_name</span>.
    </p>
    <div class="inputs">
        <input type="text" name="firstRepo" placeholder="np.: magento/magento2"></input>
        <input type="text" name="secondRepo" placeholder="np.: poveu/IPS"></input>
    </div>
    <button class="compare-button">Compare repositories</button>
</div>